[submodule "src/Vendors/googletest"]
	path = src/Vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "src/Vendors/glm"]
	path = src/Vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/Vendors/stblib/stb"]
	path = src/Vendors/stblib/stb
	url = https://github.com/nothings/stb.git
[submodule "src/Vendors/tinyobjloader"]
	path = src/Vendors/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
