[submodule "src/Vendors/googletest"]
	path = src/Vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "src/Vendors/glm"]
	path = src/Vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/Vendors/stblib/stb"]
	path = src/Vendors/stblib/stb
	url = https://github.com/nothings/stb.git
[submodule "src/Vendors/tinyobjloader"]
	path = src/Vendors/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "src/Vendors/assimp"]
	path = src/Vendors/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/Vendors/entt"]
	path = src/Vendors/entt
	url = https://github.com/skypjack/entt.git
[submodule "src/Vendors/yaml-cpp"]
	path = src/Vendors/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
